
.Media{
    cursor:pointer;
    margin-right: 15px;
    width: 260px;

}

.PlayList{
    display: flex;
}
.ReproductorList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.img{
    width: 260px;
    height: 160px;
}